body,td,th {
	font-family:"Trebuchet MS";
    font-size: 13px;
    color:#000;
}
body {
	background: url(images/bg1.jpg) repeat-x;
	background-color:#589B10;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}





a.menu7:link,a.menu7:active,a.menu7:visited
  {font-family: "Trebuchet MS";
font-size: 12px;
font-weight:bold;
color:#FFFFFF;
text-decoration:none;
text-transform:uppercase;
display:block;
padding:9px 0px 9px 0px;
}
a.menu7:hover{color: #000000; background: url(images/overbutton.jpg);}
.headre{font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#FFF;}
.broder{border: #CCC solid 1px;}
a.menu8:link,a.menu8:active,a.menu8:visited
  {font-family: "Trebuchet MS";
font-size: 13px;
font-weight: bold;
color:#ffffff;
text-decoration:none;
text-transform:uppercase;

}
a.menu8:hover{color:#F0009F; text-decoration:none;}
a.menu9:link,a.menu9:active,a.menu9:visited
  {font-family: Tahoma;
font-size: 13px;
font-weight: normal;
text-transform:none;
color: #000;
text-decoration:none;

}
a.menu9:hover{color:#8CB710; text-decoration:none;}
.headre1{font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:bold; color: #666;}
.text{color:#FFF;}
.imagesborder{padding:2px; border:solid 1px; border-color:#DADADA;}
.border1{border:#999999 solid 1px;}
.titletext{font-family: Tahoma; font-size:18px; font-weight:none; color:#FFF;}
.titletext1{font-family: "Trebuchet MS"; font-size:13px; font-weight:none; color: #CCCCCC;}
.services{font-family: "Trebuchet MS"; font-size:13px; font-weight:none; color: #186674;}
a.menu91:link,a.menu91:active,a.menu91:visited
  {font-family:"Trebuchet MS" ;
font-size: 13px;
font-weight: none;
text-transform:none;
color: #186674;
text-decoration:none;

}
a.menu91:hover{color:#000; text-decoration:none;}
.body_text{font-family:"Trebuchet MS";
font-size:12px;
line-height:20px;
word-spacing:3px;
text-align:justify;
color:#000000;
}

.about{font-family:"Trebuchet MS";
font-size:13px;
color:#758A03;
text-decoration:none;
font-weight:bold;
}

.about:hover{font-family:"Trebuchet MS";
font-size:13px;
color:#000000;
text-decoration:none;
}

.about1{font-family:"Trebuchet MS";
font-size:13px;
color:#758A03;
text-decoration:none;
font-weight:bold;
}
.padding{ border:5px solid  #BBD52C; padding:2px;}