 /**
 This stylesheet is part of the java script calendar and date picker
  **/
#calender {
	width: 150px;
	font-family: ms sans serif, sans serif;
	font-size: 7pt;
	}

#calenderTable {
	border-style: outset;
	border-width: 1px;
	border-color: black;
	background-color: #EEE;
	display: none;
	position: absolute;
	z-index: 1;
	top: 0px;
	left: 0px;
	}

#calenderTableHead TR {
	background-color: #b8e68a;
	}

#calenderTableDays TR {
	background-color: #b8e68a;
	color:black;
	}

.normalDay {
	border: 0px dotted black;
	cursor: pointer;
	}

.hlDay {
	border: 1px black;
	background-color: #585858;
	color: #E6E6E6;
	cursor: pointer;
	}

.toDay {
	border: 1px solid #C1DAFF;
	background-color:#C1DAFF;
	color: #E70;
	font-weight: bold;
	cursor: pointer;
	}

.choosenDay {
	border: 1px #000000;
	background-color: #B5EAAA;
	color: #E6E6E6;
	font-weight: bold;
	cursor: pointer;
	}