/*
Design by Metamorphosis Design
http://www.metamorphozis.com
Released for free under a Creative Commons Attribution 2.5 License
*/

a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:bold;
	color: #4e0000;
	text-decoration:none;
}


a:hover{
	text-decoration: underline;
	color: #000000;

}

*
{
border: 0;
margin: 0;

}


body
{

	font: 15px Arial, Helvetica, sans-serif;
	color: #000000;
	background: url(images/bg.jpg);
	background-repeat:repeat;
}

#mainbg{
	background: url(images/bg_top.jpg);
	background-repeat:repeat-x;
	background-position: top;
}

#main_top{
	background: url(images/main_top.png);
	background-repeat:no-repeat;
	background-position:top;
	height: 27px;
}

#main{
	margin: 0 auto;
	width: 930px;
}

#header{
	background: url(images/header.jpg);
	background-repeat:no-repeat;
	background-position: center top;
}

#logo{
	width: 1000px;
	margin: 0 auto;
	text-align: left;
	padding-left: 180px;
	padding-top: 50px;
	height: 80px;
}

#logo a {
	text-decoration: none;
	
	font-style: italic;
	font-size: 22px;
	color: #4e0000;
	font-weight: bold;
}


#logo H2 a{
	font-size: 10px;
}

#buttons{
	width: 902px;
	height: 57px;
	margin: 0 auto;
	background: url(images/menubg.jpg);
	background-repeat:repeat-x;
	background-position:top;
}

.menu_width{
	width: 882px;
	margin: 0 auto;
}

#buttons ul {
    padding-left: 0px;
}

#buttons li {
	display: inline;
}

#buttons a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	display: block;
	float: left;
	width: 20%;
	height: 33px;
	padding-top: 20px;
padding-left:80px;
}

#buttons a:hover, .active{
	height: 33px;
	background: url(images/menubghov.jpg);
	background-repeat:no-repeat;
	background-position:bottom center;
}

#content{
}

#content_bg{
	background: url(images/conbg.png);
	background-repeat:repeat-y;
}

#left{
	width: 586px;
	background-color: #ffffff;
	margin-left: 24px;
}

.left_top{
	background: url(images/left_top.jpg);
	background-repeat:no-repeat;
	background-position: top;
	height: 10px;
}

#left p{
	padding-left:12px;
	padding-right:12px;
	padding-bottom: 10px;
}

#text{
}


#left H1{
	font-family: Arial, Helvetica, sans-serif;
	font-weight:normal;
	color: #4e0000;
	font-size: 18px;
	width:100%;
	padding-top: 10px;
	padding-left: 6px;
	padding-bottom:10px;
	margin-bottom:20px;
	background: url(images/title_left.jpg);
	background-repeat:repeat-x;
	background-position:bottom;
}

.read{
	text-align: right;
	background: url(images/read.gif);
	background-repeat:no-repeat;
	background-position:right top;
	margin-top:10px;
	margin-bottom:10px;
	padding-top: 3px;
	padding-right: 4px;
	height:17px;
}

#right .read a{
	color: #ffffff;
	font-weight:normal;
	padding-right:4px;
	font-size: 12px;
	text-decoration:none;
}

.read a:hover{
	text-decoration:underline;
}

.readleft{
	text-align: right;
	margin-top:10px;
	height:16px;
	margin-right: 20px;
}

.readleft a{
	color: #4e0000;
	font-weight:bold;
	padding-right:4px;
	font-size: 12px;
	text-decoration:none;
	border-bottom: 1px dotted #4e0000;
}

.readleft a:hover{
	border: none;
}

#right{
	width: 289px;
	float:right;
	margin-right: 24px;
}

#right h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight:normal;
	color: #ffffff;
	font-size: 18px;
	text-align:center;
	height: 36px;
	padding-top: 13px;
	margin-bottom:20px;
	background: url(images/title_right.gif);
	background-repeat:no-repeat;
	background-position:top left;
}

#right .categories ul{
	padding-left: 0px;
	list-style: none;
	padding-bottom: 20px;
}

#right .categories ul li{
	padding-left: 0px;
	padding-bottom: 1px;

}

#right .categories ul li a {
	font-weight: bold;
	text-align: left;
	text-decoration: none;
	color: #ff0000;
	display: block;
	height: 24px;
	padding-top: 9px;
	padding-left: 15px;
	background: url(images/cat.jpg);
	background-repeat:no-repeat;
	background-position:top left;
	width: 287px;
}
#right .categories ul li a:hover {
	background: url(images/catbg.jpg);
	background-repeat:no-repeat;
	background-position:top left;
}


#right .company ul{
	list-style: none;
	margin-bottom: 30px;
	padding-left:7px;
	padding-top: 5px;
	padding-right:10px;
}

#right .company ul li{
	background: url(images/ls.png) no-repeat left top;
	padding-left: 20px;
	margin-bottom: 10px;
	color: #ffffff;
}

#right a{
	text-decoration: none;
	color: #ffffff;
	font-weight:bold;
}

#right a:hover {
	text-decoration: underline;
}

#main_bot{
	background: url(images/main_bot.jpg);
	background-repeat: no-repeat;
	background-position:top;
	height: 30px;
}

#footer
{
	background: url(images/footer.jpg);
	background-repeat:repeat-x;
	background-position:top;
	height: 40px;
	font-size: 10px;
	color: #000000;
	padding-top: 30px;
	text-align: center;
	clear:both;
}

#footer a{
	color: #000000;
	font-size: 10px;
	text-decoration: none;
}
.padding{
	padding: 10px;
	color:#FF0000;
	font-weight: bold;
}
